* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  font-size: 14pt;
  color: rgb(211, 3, 3);
}

body {
  background-color: rgb(245, 245, 245);
  color: rgb(119, 119, 119);
}


.img {
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 100px;
    object-fit: cover;

}